@font-face {
    font-family: poppinsMedium;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppinsSemiBold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face{
    font-family: poppinsRegular;
    src: url(../fonts/Poppins-Regular.ttf);
}